// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#product-table{
	border: 1px solid #ddd;
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#product-table td, #product-table th {
    padding: 8px;
}

#product-table th {
    background-color: gray;
    color: black;
}

#product-table tr:nth-child(even){background-color: #f2f2f2;}

#product-table tr:hover {background-color: #ddd;}


