// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#product-table{
	border: 1px solid #ddd;
	text-align: left;
}
#product-table td, #product-table th {
    padding: 8px;
}

#product-table th {
    background-color: gray;
    color: black;
}


