<h1>Product</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
	<th>Price</th>
  </tr>
 

    <tr>
    <td><%= @product.name %></td>
    <td><%= @product.description %></td>
	  <td><%= @product.price%>
    </tr>

</table>
<%= link_to 'Product Home', products_path %>